<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets" 
	xmlns:gap="http://phonegap.com/ns/1.0" 
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="com.amini.app" 
	version="1.0.0">
    <name>AminiWedding</name>

    <content src="index.html" />
    <access origin="*" />
	<gap:config-file platform="android" parent="/manifest">
     <application android:debuggable="true" />
	</gap:config-file>
</widget>
